<ul class="audio-list">

  <li class="audio-item" ng-repeat="audio in tracks">{{audio.title}} -
    <audio controls preload="metadata">
      <source src="" ng-src="{{audio.url}}" type="audio/mpeg">
      Тег audio не поддерживается вашим браузером. <a href="{{audio.url}}" target="_blank">Скачайте музыку</a>.
    </audio>
  </li>

</ul>